## Default: v0.10.0
MMDL_IMG_TAG=
## Default: 3000
MMDL_WEBUI_PORT=

## Default: 8.0
MYSQL_IMG_TAG=
## Default: mysql_data
MYSQL_DATA_DIR=
## Default: db
MYSQL_HOST=
## Default: 3306
MYSQL_PORT=
## Default: managemydamnlife
MYSQL_DATABASE=
## Default: mmdl
MYSQL_USER=
## Default: managemydamnlife
MYSQL_PASSWORD=
## Default: managemydamnlifeAdmin
MYSQL_ROOT_PASSWORD=
