## Default: v0.10.0
MMDL_IMG_TAG=
## Default: 3000
MMDL_WEBUI_PORT=
## Default: http://localhost
MMDL_BASE_URL=
## Default: true
MMDL_DISABLE_REGISTRATION=

## Default: (none/empty)
#  Each database overlay sets its own default.
#  Default is usually named after db, i.e. mysql_data, postgres_data, etc.
DB_DATA_DIR=
## Default: (none/empty)
#  Allowed: mysql, postgres, sqlite
#  Each database overlay sets its dialect.
DB_DIALECT=
## Default: (none/empty)
#  Local overlays define a db host using internal hostname
DB_HOST=
## Default: (none/empty)
#  Each database overlay sets its port, i.e. 3306 for mysql,
#  5432 for postgres, none/empty for sqlite.
DB_PORT=
## Default: managemydamnlife
#  None/empty when using sqlite
DB_NAME=
## Default: (none/empty)
DB_USER=
## Default: managemydamnlife
#  None/empty when using sqlite
DB_PASS=

## Default: 8.0
MYSQL_IMG_TAG=
## Default: managemydamnlifeAdmin
MYSQL_ROOT_PASSWORD=

## Default: 16
POSTGRES_IMG_TAG=
## Default: (none/empty)
POSTGRES_PASSWORD=
