# Templates Map <!-- omit in toc -->

This README is a table of contents for templates in this repository.

## Map
{% for category in categories %}- [{{ category.name }}](../{{ category.path }}){% if category.sub_categories %}
  - subcategories:
{% for subcategory in category.sub_categories %}    - [{{ subcategory.name }}](../{{ subcategory.path }})
{% endfor %}{% endif %}{% endfor %}
