# Templates Map <!-- omit in toc -->

This README is a table of contents for templates in this repository.

## Map
{%- macro render_categories(categories, level=0) %}{# macro loops through input categories, recursively printing any sub-paths #}
{%- for category in categories %}
{{ '  ' * level }}- [{{ category.name }}](../{{ category.path }}){# render indented list items, adding +2 to level each iteration #}
{%- if category.sub_categories and category.sub_categories|length > 0 %}{{ render_categories(category.sub_categories, level + 2) }}
{%- endif %}
{%- endfor %}
{%- endmacro %}
{{ render_categories(categories) }}
