<%- include('../partials/base/html_top') %>

<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>This is great!</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Look, I'm a sidebar!</h3>
        </div>
    </div>

    <!-- Example img. Src val comes from example_img, passed in app.js -->
    <div class="col-sm-4">
        <img src="<%- example_img %>" class="img-fluid" />
    </div>

    <!-- Example of importing a module, passing example_img to module's card_img var -->
    <div class="col-sm-4">
        <%- include('../partials/modules/example_img_card', {card_img: example_img}) %>
    </div>    

</div>

<%- include('../partials/base/html_bottom') %>
