###########
# Netbird #
###########

## Default: latest
NETBIRD_SERVER_IMG_TAG=
## Default: ./config.yaml
NETBIRD_SERVER_CONFIG_FILE=
## Default: (named volume) netbird_data
NETBIRD_DATA_DIR=
## Default: 8081
NETBIRD_SERVER_HTTP_PORT=

## Default: latest
NETBIRD_DASHBOARD_IMG_TAG=
## Default: 8080
NETBIRD_DASHBOARD_WEBUI_PORT=
## Default: true
NETBIRD_DISABLE_DATA_COLLECTION=

############
# Postgres #
############

## Default: 17
POSTGRES_IMG_VER=
## Default: (named volume) postgres_data
POSTGRES_DATA_DIR=
## Default: netbird
POSTGRES_USER=
## Default: netbird
POSTGRES_PASSWORD=
## Default: netbird
POSTGRES_DB=

#########
# Caddy #
#########

## Default: 2
CADDY_IMG_TAG=
## Default: 80
CADDY_HTTP_PORT=
## Default: 443
CADDY_HTTPS_PORT=
## Default: ./Caddyfile
CADDY_CADDYFILE=
## Default: (named volume) caddy_data
CADDY_DATA_DIR=
## Default: (named volume) caddy_config
CADDY_CONFIG_DIR=


