source_env_if_exists .envrc.local

## Example .envrc.local
#
# export NETBIRD_DOMAIN="vpn.example.com"
# export NETBIRD_AUTH_SECRET=""  # Generated with ./scripts/generate-secrets.sh
# export NETBIRD_STORE_ENCRYPTION_KEY=""  # Generated with ./scripts/generate-secrets.sh
# export NETBIRD_DISABLE_DATA_COLLECTION=true
#
# export POSTGRES_PASSWORD=""  # Generated with ./scripts/generate-secrets.sh
#
# export CADDY_LETSENCRYPT_EMAIL=
#

