{$NETBIRD_DOMAIN} {

  ## gRPC
  @grpc header Content-Type application/grpc*
  reverse_proxy @grpc h2c://netbird-server:80

  ## NetBird backend endpoints
  @backend path /api/* /oauth2/* /relay* /ws-proxy/*
  reverse_proxy @backend h2c://netbird-server:80

  ## Dashboard
  reverse_proxy netbird-dashboard:80
}
