## Default: 8000
SSM_PROXY_PORT=
## Default: "SSM - Proxy"
SSM_PROXY_DISPLAY_NAME=
## Default: false
SSM_PROXY_WATCH_DIGEST=
## Default: (named volume) ssm_prometheus_data
SSM_PROMETHEUS_DATA_DIR=
## Default: "SSM - Prometheus"
SSM_PROMETHEUS_DISPLAY_NAME=
## Default: (named volume) ssm_mongo_data
SSM_MONGO_DATA_DIR=
## Default: "SSM - MongoDB"
SSM_MONGO_DISPLAY_NAME=
## Default: (named volume) ssm_redis_data
SSM_REDIS_DATA_DIR=
## Default: "SSM - Redis"
SSM_REDIS_DISPLAY_NAME=
## Default: (named volume) ssm_server_data
SSM_SERVER_DATA_DIR=
## Default: "SSM - Server"
SSM_SERVER_DISPLAY_NAME=
## Default: false
SSM_SERVER_DIGEST=
## Default: "SSM - Client"
SSM_CLIENT_DISPLAY_NAME=
## Default: false
SSM_CLIENT_DIGEST=
