## Default: Etc/UTC
TZ=

## Default: 2026.8.1
#  Find latest: https://github.com/goauthentik/authentik/pkgs/container/server
AUTHENTIK_IMG_TAG=

## Default: false
AUTHENTIK_ENABLE_TELEMETRY=
## Default: info
AUTHENTIK_LOG_LEVEL=

## Default: (none/empty)
#  Generate secret with:
#    openssl rand -base64 60 | tr -d '\n'
AUTHENTIK_SECRET_KEY=

## Default: 9000
AUTHENTIK_HTTP_PORT=
## Default: 9443
AUTHENTIK_HTTPS_PORT=

## Default: ./data
AUTHENTIK_DATA_DIR=
## Default: ./custom-templates
AUTHENTIK_TEMPLATES_DIR=
## Default: ./certs
AUTHENTIK_CERTS_DIR=

## Default: 16-alpine
#  Find latest: https://hub.docker.com/_/postgres/tags
POSTGRES_IMG_TAG=

## Default: authentik
PG_DB=
## Default: authentik
PG_USER=
## Default: (none/empty)
#  Generate strong password with:
#    openssl rand -base64 36 | tr -d '\n'
PG_PASS=

## Default: ./database
POSTGRES_DATA_DIR=
