## Default: latest
ENSHROUDED_SERVER_IMG_TAG=
## Default: 15637
ENSHROUDED_SERVER_PORT=
## Default: (named volume) server_data
SERVER_DATA_DIR=

## Default: Etc/UTC
TZ=
## Default: 1000
PUID=
## Default: 1000
PGID=

## Default: Embervale Friends
SERVER_NAME=
## Default: 16
SERVER_SLOT_COUNT=
## Default: 0.0.0.0
SERVER_IP=

## Default: 0 */4 * * *
SERVER_BACKUP_CRON=
## Default: 0 (unlimited)
SERVER_BACKUP_MAX_COUNT=
## Default: */30 * * * *
SERVER_UPDATE_CHECK_CRON=
## Default: true
SERVER_SKIP_UPDATE_WHEN_PLAYERS_CONNECTED=
## Default: public
SERVER_GAME_BRANCH=
## Default: validate
SERVER_STEAMCMD_ARGS=
## Default: 40
#  10=DEBUG 20=INFO 30=WARNING 40=ERROR 50=CRITICAL
SERVER_LOG_LEVEL=

## Default: Proximity
#  Options: Proximity, Global
SERVER_VOICE_CHAT_MODE=
## Default: false
SERVER_ENABLE_VOICE_CHAT=
## Default: true
SERVER_ENABLE_TEXT_CHAT=

## Default: enshroudedAdmin
SERVER_ADMIN_PASSWORD=
## Default: enshroudedFriends
SERVER_FRIENDS_PASSWORD=
## Default: enshroudedGuest
SERVER_GUEST_PASSWORD=
