## Default: 1000
PUID=
## Default: 1000
PGID=

## Default: 8096
JELLYFIN_HTTP_PORT=
## Default: 8920
JELLYFIN_HTTPS_PORT=
## Default: 7359
JELLYFIN_CLIENT_DISCOVERY_PORT=

## Default: (none/empty)
#  Set the path to a directory that has movies, tv-shows, etc, i.e. /mnt/media
JELLYFIN_MEDIA_ROOT=

## Default: http://localhost:8096
JELLYFIN_SERVER_URL=http://192.168.1.54:8096

## Default: (named volume) config
JELLYFIN_CONFIG_DIR=
## Default: (named volume) cache
JELLYFIN_CACHE_DIR=
