## Default: v3
WOODPECKER_SERVER_IMG_TAG=
## Default: (none/unset)
FORGEJO_ADMIN_USERNAME=
## Default: 8000
WOODPECKER_HTTP_PORT=
## Default: (named volume) server-data
WOODPECKER_SERVER_DATA_DIR=
## Default: false
#  Set to true to allow agents outside the host to connect to the Woodpecker server.
WOODPECKER_OPEN=true
## Default: 10m
WOODPECKER_SERVER_LOG_MAX_SIZE=
## Default: 5
WOODPECKER_SERVER_LOG_MAX_FILE=

## Default: v3
WOODPECKER_AGENT_IMG_TAG=
## Default: none/empty
#  Generate on the server, set this secret for WOODPECKER_AGENT_SECRET
#  on both the server and the agent.
WOODPECKER_AGENT_SECRET=
## Default: (named volume) woodpecker-agent-config
WOODPECKER_AGENT_CONFIG_DIR=.
## Default: 10m
WOODPECKER_AGENT_LOG_MAX_SIZE=
## Default: 5
WOODPECKER_AGENT_LOG_MAX_FILE=
## Default: 2
WOODPECKER_AGENT_MAX_WORKFLOWS=
## Default: 2
WOODPECKER_AGENT_CPUS=
## Default: 2G
WOODPECKER_AGENT_MEMORY=

######################
# Selfhosted Forgejo #
######################

## Default: false
WOODPECKER_ENABLE_FORGEJO=
## Default: (none/empty)
WOODPECKER_URL=https://ci.spooki.one
## Default: (none/empty)
#  For Codeberg, use https://codeberg.org
WOODPECKER_FORGEJO_URL=
## Default:
WOODPECKER_FORGEJO_CLIENT=
## Default:
WOODPECKER_FORGEJO_SECRET=
## Default:
#  Create in Forgejo by going to Settings > Applications > New access token
WOODPECKER_FORGEJO_TOKEN=

############
# Codeberg #
############

## Default: (none/empty)
#  For Codeberg, use https://codeberg.org
# WOODPECKER_FORGEJO_URL=https://codeberg.org
## Default:
# WOODPECKER_FORGEJO_CLIENT=
## Default:
# WOODPECKER_FORGEJO_SECRET=
## Default:
# WOODPECKER_FORGEJO_TOKEN=

