## Default: admin@example.com
TUDUDI_USER_EMAIL=
## Default: admin
TUDUDI_USER_PASSWORD=
TUDUDI_SESSION_SECRET=
## Default: http://localhost
#  Example: https://example.com,https://tasks.example.org,http://localhost:3002
TUDUDI_ALLOWED_ORIGINS=
## Default: tududi_db
TUDUDI_DB_DIR=
## Default: tududi_uploads
TUDUDI_UPLOADS_DIR=
## Default: 3002
TUDUDI_HTTP_PORT=
