## Secrets

**/.env
**/.env.*
*.env

*.local.*
*.local

github_token.txt

!**/.env.*.example
!**/*example*.env

## Dirs

backup/*
db/*
docs/*
solr/*
rustdesk/*

!**/empty
!**/*.example
!**/*_example
!**/*_example.*
!**/example_*
!**/example_*.*

## Python
build/
*.pyc
__pycache__/
.venv
.python-version

## Direnv
.direnv/.*
.direnv/**/.*
.secrets
!.direnv/*.*example*

## Database
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
