**/.env
**/.env.*

!**/.env.*.example
!**/*example*.env

backup/*
db/*
docs/*
solr/*
rustdesk/*

!**/empty
!**/*.example
!**/*_example
!**/*_example.*
!**/example_*
!**/example_*.*

build/
*.pyc
__pycache__/
.venv
.python-version

## Ignore direnv environment files
.direnv/.*
.direnv/**/.*
.secrets
!.direnv/*.*example*
