**/.env
**/.env.*

!**/.env.*.example

backup/*
db/*
docs/*
solr/*

!**/empty
!**/*.example
!**/*_example
!**/*_example.*
!**/example_*
!**/example_*.*

build/
*.pyc
__pycache__/
.venv
.python-version
