config/*

!config/
!config/examples/

grafana/*
grafana/provision/*
grafana/provision/**

!grafana/
!grafana/examples/
!grafana/provision/
!grafana/provision/datasources/

!*-default.yml

!example.*
!example.*.*
!*.example
!*.example.*
!.*.example
!.*.example.*
