---
name: prometheus

volumes:
  prometheus_data: {}

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - ${PROMETHEUS_PORT:-9090}:9090
    volumes:
      - ${PROMETHEUS_CONFIG_FILE:-./config/prometheus.yml}:/etc/prometheus/prometheus.yml
      - ${PROMETHEUS_ALERT_RULES_FILE:-./config/alert.rules}:/alertmanager/alert.rules
      - ${PROMETHEUS_DATA_DIR:-prometheus_data}:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
