## Default: 2.2.0
#  Versions:
#  https://hub.docker.com/r/dxflrs/garage/tags
GARAGE_IMG_TAG=
## Default: latest
#  Versions:
#  https://hub.docker.com/r/khairul169/garage-webui/tags
GARAGE_WEBUI_IMG_TAG=

## Default: ./config/garage/garage.toml
GARAGE_CONFIG_FILE=
## Default: (named volume) meta
GARAGE_META_DIR=
## Default: (named volume) data
GARAGE_DATA_DIR=

## Default: 3900
GARAGE_S3_API_PORT=
## Default: 3901
GARAGE_RPC_PORT=
## Default: 3902
GARAGE_S3_WEB_PORT=
## Default: 3903
GARAGE_ADMIN_API_PORT=
## Default: 3909
GARAGE_WEBUI_PORT=

## Default: (none/empty)
#  Generate with:
#    openssl rand -base64 32
GARAGE_RPC_SECRET=
## Default: local-garage
GARAGE_S3_REGION=
## Default: .s3.lan
GARAGE_S3_ROOT_DOMAIN=
## Default: (none/empty)
#  Generate with:
#    openssl rand -base64 48
GARAGE_ADMIN_UI_TOKEN=
## Default: (none/empty)
#  Generate with (or leave empty for public access):
#    openssl rand -base64 32
GARAGE_METRICS_TOKEN=

