## Default: latest
RUNNER_IMG_TAG=

## Default: true
RUN_AS_ROOT=
## Default: https://github.com/OWNER/REPO
REPO_URL=
## Default: self-hosted
RUNNER_NAME=

## Default: (empty)
#  Github PAT for long-lived agents.
#
#  Choose ACCESS_TOKEN or RUNNER_TOKEN,
#  don't use both.

ACCESS_TOKEN=

## Default: (empty)
#  Create a token for the runner on Github.
#  This is a short-lived token; for more
#  granular access control, use a PAT.
#
#  Choose ACCESS_TOKEN or RUNNER_TOKEN,
#  don't use both.
RUNNER_TOKEN=

## Default: /tmp/runner/work
RUNNER_WORKDIR=
## Default: self-hosted,linux
RUNNER_LABELS=self-hosted,linux,arm64
## Default: false
NO_DEFAULT_LABELS=

## Default: 2
RUNNER_REPLICAS=
## Default: 0.5
RUNNER_CPUS_LIMIT=
## Default: 512M
RUNNER_MEMORY_LIMIT=
## Default: 0.4
RUNNER_CPU_RESERVE=
## Default: 256M
RUNNER_MEMORY_RESERVE=
## Default: 256
RUNNER_PIDS_LIMIT=

