version: "3"

services:

  red-discordbot:
    container_name: red-discordbot
    image: phasecorex/red-discordbot
    restart: unless-stopped
    volumes:
      - ${DATA_DIR:-./data}:/data
    environment:
      - TOKEN=${TOKEN:-<YOUR_TOKEN_HERE>}
      - PREFIX=${PREFIX:--}
      - TZ=${TZ:-America/New_York}
      - PUID=${PUID:-1000}
      - PGID=${PUID:-1000}