CALIBRE_IMG=
CALIBRE_NAME=
PUID=
PGID=
TZ=

## Default: ./calibre/config
CALIBRE_CONFIG_DIR=
## Default: ./calibre/CalibreLibrary
CALIBRE_BOOKS_DIR=
## Default: ./calibre/uploads
CALIBRE_UPLOADS_DIR=
## Default: ./calibre/exports
# CALIBRE_EXPORT_DIR=/mnt/multimedia/media/books/_export
## Default: ./calibre/plugins
CALIBRE_PLUGINS_DIR=
## Default: 8181
CALIBRE_APP_PORT=

## Default: 4
CALIBRE_MAX_CPU=
## Default: 2g
CALIBRE_MEM_LIMIT=

## Default: 8080
CALIBRE_HTTP_PORT=
## Default: 8081
CALIBRE_HTTPS_PORT=

## Default: ./calibre-web/config
CALIBRE_WEB_CONFIG_DIR=
## Default: 8083
CALIBRE_WEB_PORT=

## Default: latest
SFTPGO_CONTAINER_IMG_TAG=
## Default: 8080
SFTPGO_HTTP_PORT=
## Default: 2022
SFTPGO_SSH_PORT=
## Default: 8090
SFTPGO_DAV_PORT=
## Default: sftpgo_data
SFTPGO_DATA_DIR=
## Default: sftpgo_home
SFTPGO_HOME_DIR=
## Default: sftpgo_backups
SFTPGO_BACKUPS_DIR=
## Default: ./config/sftpgo.json
SFTPGO_CONFIG_FILE=
## Default: info
SFTPGO_LOG_LEVEL=
## Default: 10
SFTPGO_GRACE_TIME=
## Default: 15
SFTPGO_IDLE_TIMEOUT=
## Default: 10
SFTPGO_MAX_CONNECTIONS=
## Default: 20
SFTPGO_MAX_PER_HOST_CONNECTIONS=
## Default: (none/empty)
SFTPGO_HOST_KEYS=
