---
name: onedev

volumes:
  onedev_data: {}

services:
  onedev:
    image: 1dev/server:latest
    restart: unless-stopped
    environment:
      ONEDEV_SERVER_BASE_URL: ${ONEDEV_BASE_URL:-localhost:6610}
    ports:
      - ${ONEDEV_HTTPS_PORT:-6610}:6610
      - ${ONEDEV_SSH_PORT:-6611}:6611
    volumes:
      - ${ONEDEV_DATA_DIR:-onedev_data}:/opt/onedev
      - /var/run/docker.sock:/var/run/docker.sock
