---
name: gotify

volumes:
  server_data: {}

services:
  gotify:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    ## To run gotify as a dedicated user:
    #  sudo chown -R 1234:1234 ./gotify_data
    #  user: "1234:1234"
    ports:
      - ${GOTIFY_PORT:-8080}:80
    environment:
      GOTIFY_SERVER_KEEPALIVEPERIODSECONDS: ${GOTIFY_SERVER_KEEPALIVEPERIODSECONDS:-0}
      GOTIFY_SERVER_LISTENADDR: ${GOTIFY_SERVER_LISTENADDR:-}

      GOTIFY_DEFAULTUSER_NAME: ${GOTIFY_DEFAULTUSER_NAME:-admin}
      GOTIFY_DEFAULTUSER_PASS: ${GOTIFY_DEFAULTUSER_PASS:-admin}
      GOTIFY_PASSSTRENGTH: "${GOTIFY_PASSSTRENGTH:-10}"
      GOTIFY_REGISTRATION: "${GOTIFY_REGISTRATION:-false}"

      GOTIFY_UPLOADEDIMAGESDIR: "${GOTIFY_UPLOADEDIMAGESDIR:-data/images}"
      GOTIFY_PLUGINSDIR: "${GOTIFY_PLUGINSDIR:-data/plugins}"

      GOTIFY_DATABASE_DIALECT: "${GOTIFY_DATABASE_DIALECT:-sqlite3}"
      GOTIFY_DATABASE_CONNECTION: "${GOTIFY_DATABASE_CONNECTION:-data/gotify.db}"

      GOTIFY_SERVER_SSL_REDIRECTTOHTTPS: "${GOTIFY_SERVER_SSL_REDIRECTTOHTTPS:-true}"
      GOTIFY_SERVER_SSL_LISTENADDR: "${GOTIFY_SERVER_SSL_LISTENADDR:-}"
      GOTIFY_SERVER_SSL_PORT: "${GOTIFY_SERVER_SSL_PORT:-443}"
      GOTIFY_SERVER_SSL_CERTFILE: "${GOTIFY_SERVER_SSL_CERTFILE:-}"
      GOTIFY_SERVER_SSL_CERTKEY: "${GOTIFY_SERVER_SSL_CERTKEY:-}"
      GOTIFY_SERVER_SSL_ENABLED: ${GOTIFY_SERVER_SSL_ENABLED:-false}

      GOTIFY_SERVER_SSL_LETSENCRYPT_ENABLED: "${GOTIFY_SERVER_SSL_LETSENCRYPT_ENABLED:-false}"
      GOTIFY_SERVER_SSL_LETSENCRYPT_ACCEPTTOS: "${GOTIFY_SERVER_SSL_LETSENCRYPT_ACCEPTTOS:-false}"
      GOTIFY_SERVER_SSL_LETSENCRYPT_CACHE: "${GOTIFY_SERVER_SSL_LETSENCRYPT_CACHE:-certs}"
      GOTIFY_SERVER_SSL_LETSENCRYPT_HOSTS: "${GOTIFY_SERVER_SSL_LETSENCRYPT_HOSTS:-}"

      GOTIFY_SERVER_RESPONSEHEADERS: "${GOTIFY_SERVER_RESPONSEHEADERS:-}"
      GOTIFY_SERVER_TRUSTEDPROXIES: "${GOTIFY_SERVER_TRUSTEDPROXIES:-}"

      GOTIFY_SERVER_CORS_ALLOWORIGINS: "${GOTIFY_SERVER_CORS_ALLOWORIGINS:-}"
      GOTIFY_SERVER_CORS_ALLOWMETHODS: "${GOTIFY_SERVER_CORS_ALLOWMETHODS:-}"
      GOTIFY_SERVER_CORS_ALLOWHEADERS: "${GOTIFY_SERVER_CORS_ALLOWHEADERS:-}"

      GOTIFY_SERVER_STREAM_ALLOWEDORIGINS: "${GOTIFY_SERVER_STREAM_ALLOWEDORIGINS:-}"
      GOTIFY_SERVER_STREAM_PINGPERIODSECONDS: "${GOTIFY_SERVER_STREAM_PINGPERIODSECONDS:-45}"

      GOTIFY_LOG_LEVEL: ${GOTIFY_LOG_LEVEL:-info}
    volumes:
      - ${GOTIFY_DATA_DIR:-server_data}:/app/data
