services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      TZ: ${TZ:-America/New_York}
    volumes:
      - ${HA_CONF_DIR:-./config/homeassistant}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    # ports:
    #   - ${HA_HTTP_PORT:-8123}:8123

  nodered:
    container_name: nodered
    image: nodered/node-red
    restart: unless-stopped
    ports:
      - ${NODERED_PORT:-1880}:1880
    environment:
      TZ: ${TZ:-America/New_York}
      PUID: ${PUID:-1000}
      GUID: ${GUID:-1000}
    volumes:
      - ${NODERED_DATA_DIR:-./data/nodered}:/data
    depends_on:
      - homeassistant
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - ${MQTT_PORT:-1883}:1883
      - ${MQTT_HTTP_PORT:-9001}:9001
    volumes:
      - "${MQTT_CONFIG_DIR:-./config/mosquitto}:/mosquitto/config"
      - "${MQTT_DATA_DIR:-./data/mosquitto}:/mosquitto/data"
      - "${MQTT_LOGS_DIR:-./logs/mosquitto}:/mosquitto/log"
    environment:
      TZ: ${TZ:-America/New_York}
    user: "${PUID:-1883}:${PGID:-1883}"

  hass-configurator:
    ## Allows editing HomeAssistant's config from the browser
    image: "causticlab/hass-configurator-docker:latest"
    container_name: homeassistant-configurator
    restart: unless-stopped
    ports:
      - "${HA_CONFIGURATOR_WEB_PORT:-3218}:3218/tcp"
    environment:
      TZ: ${TZ:-America/New_York}
    volumes:
      - "${HA_CONFIGURATOR_CONFIG_DIR:-./config/homeassistant-configurator}:/config"
      - "${HA_CONF_DIR:-./config/homeassistant}:/hass-config"
