## Default: (none/empty)
KNOT_SERVER_HOSTNAME=
## Default: (none/empty)
#  This is your tangled user's decentralized identifier (DID)
KNOT_SERVER_OWNER=
## Default: 5555
KNOT_LISTEN_PORT=
## Default: 2222
KNOT_SSH_PORT=
## Default: ./knot/keys
KNOT_KEYS_DIR=
## Default: ./knot/repositories
KNOT_REPOS_DIR=
## Default: ./knot/server
KNOT_SERVER_DIR=

## Default: 443
KNOT_FRONTEND_PORT=
## Default: (named volume) caddy_data
CADDY_DATA_DIR=

