## Default: commafeed
COMMAFEED_USER=
## Default: commafeed
COMMAFEED_PASSWORD=
## Default: 256M
COMMAFEED_MEMORY=
## Default: 8082
COMMAFEED_HTTP_PORT=
## Default: commafeed
COMMAFEED_DB_USER=
## Default: commafeed
COMMAFEED_DB_PASSWORD=
## Default: commafeed
COMMAFEED_DB_DATABASE=
## Default: ./commafeed/db/data
COMMAFEED_DB_DIR=
