## Default: latest
JOPLIN_TAG=
## Default: 22300
JOPLIN_WEBUI_PORT=
## Default: http://localhost:22300
JOPLIN_BASE_URL=
## Default: (none/empty) 
DB_HOST=
## Default: 5432
DB_PORT=
## Default: joplin
DB_USER=
## Default: joplin
DB_PASSWORD=
## Default: joplin
DB_NAME=

