.env
.env.*
*.env
*.*.env

!**/*.example
!**/*.example.*
!**/example.*.*

**/whitelist.json
!**/example.whitelist.json

**/servers/**/data
**/world_the_end/DIM1

**/*.jar

!**/_templates/**/data/
!**/_templates/**/worlds
!**/_templates/**/plugins
