## Required for all per-setting overrides
SERVER_GS_PRESET=Custom

####################
# Player modifiers #
####################

SERVER_GS_PLAYER_HEALTH_FACTOR=1.0
SERVER_GS_PLAYER_MANA_FACTOR=1.0
SERVER_GS_PLAYER_STAMINA_FACTOR=1.0
SERVER_GS_PLAYER_BODY_HEAT_FACTOR=1.0
SERVER_GS_PLAYER_DIVING_TIME_FACTOR=1.0
SERVER_GS_SHROUD_TIME_FACTOR=1.0

####################
# Survival & death #
####################

SERVER_GS_ENABLE_DURABILITY=false
SERVER_GS_ENABLE_STARVING_DEBUFF=false
SERVER_GS_FOOD_BUFF_DURATION_FACTOR=1.25
SERVER_GS_FROM_HUNGER_TO_STARVING=600000000000
## Options: AddBackpackMaterials | Everything | NoTombstone
SERVER_GS_TOMBSTONE_MODE=AddBackpackMaterials
SERVER_GS_ENABLE_GLIDER_TURBULENCES=false

########################
# Resources & crafting #
########################

SERVER_GS_MINING_DAMAGE_FACTOR=1.25
SERVER_GS_PLANT_GROWTH_SPEED_FACTOR=1.5
SERVER_GS_RESOURCE_DROP_STACK_AMOUNT_FACTOR=1.5
SERVER_GS_FACTORY_PRODUCTION_SPEED_FACTOR=1.25

###############
# Progression #
###############

SERVER_GS_PERK_UPGRADE_RECYCLING_FACTOR=0.5
SERVER_GS_PERK_COST_FACTOR=1.0
SERVER_GS_EXPERIENCE_COMBAT_FACTOR=1.0
SERVER_GS_EXPERIENCE_MINING_FACTOR=1.0
SERVER_GS_EXPERIENCE_EXPLORATION_QUESTS_FACTOR=1.0

###########
# Enemies #
###########

## Options: Few | Normal | Many | Extreme
SERVER_GS_RANDOM_SPAWNER_AMOUNT=Normal
SERVER_GS_AGGRO_POOL_AMOUNT=Normal

SERVER_GS_ENEMY_DAMAGE_FACTOR=1.0
SERVER_GS_ENEMY_HEALTH_FACTOR=1.0
SERVER_GS_ENEMY_STAMINA_FACTOR=1.0
SERVER_GS_ENEMY_PERCEPTION_RANGE_FACTOR=1.0
SERVER_GS_BOSS_DAMAGE_FACTOR=1.0
SERVER_GS_BOSS_HEALTH_FACTOR=1.0
SERVER_GS_THREAT_BONUS=1.0
SERVER_GS_PACIFY_ALL_ENEMIES=false

##################
# World behavior #
##################

## Options: Disabled | Rare | Normal | Often
SERVER_GS_WEATHER_FREQUENCY=Normal

## Options: VeryEasy | Easy | Normal | Hard | VeryHard
SERVER_GS_FISHING_DIFFICULTY=Normal

## Options: Easy | Normal | Hard
SERVER_GS_CURSE_MODIFIER=Normal

########################
# Taming & world clock #
########################

## Options: KeepProgress | LoseSomeProgress | LoseAllProgress
SERVER_GS_TAMING_STARTLE_REPERCUSSION=LoseSomeProgress

## Values are nanoseconds: 1800000000000 = 30 minutes
SERVER_GS_DAY_TIME_DURATION=1800000000000

## Values are nanoseconds: 720000000000 = 12 minutes
SERVER_GS_NIGHT_TIME_DURATION=720000000000
