## Default: latest
HOMEPAGE_IMG_TAG=
## Default: homepage
HOMEPAGE_CONTAINER_NAME=

## Default: env/app.env
HOMEPAGE_ENV=

## Default: 3000
HOMEPAGE_HTTP_PORT=
## Default: ./config
HOMEPAGE_CONFIG_DIR=
## Default: localhost:3000
#  Can be a comma-separated list, i.e. localhost:3000,192.168.1.10:3000,dash.example.com
HOMEPAGE_ALLOWED_HOSTS=
