## Default: v1.6.0
UNIFIOS_IMG_TAG=
## Default: Etc/UTC
TZ=

## Default: ./persistent
UNIFIOS_PERSISTENT_DIR=
## Default: ./var-log
UNIFIOS_LOG_DIR=
## Default: ./data
UNIFIOS_DATA_DIR=
## Default: ./srv
UNIFIOS_SRV_DIR=
## Default: ./var-lib-unifi
UNIFIOS_UNIFI_DIR=
## Default: ./var-lib-mongodb
UNIFIOS_MONGODB_DIR=
## Default: ./etc-rabbitmq-ssl
UNIFIOS_RABBITMQ_SSL_DIR=

## Default: 127.0.0.1
UNIFIOS_SYSTEM_IP=

## Default: 11443
#  UniFi Web UI (HTTPS)
UNIFIOS_WEBUI_PORT=
## Default: 8080
#  HTTP inform / redirect
UNIFIOS_HTTP_PORT=
## Default: 8444
#  Secure Portal for Hotspot
UNIFIOS_HOTSPOT_PORTAL_PORT=
## Default: 8880
#  Hotspot portal redirection (HTTP)
UNIFIOS_HOTSPOT_PORTAL_HTTP_PORT=
## Default: 8881
#  Hotspot portal redirection (HTTPS)
UNIFIOS_HOTSPOT_PORTAL_HTTPS_PORT=
## Default: 8882
#  Hotspot portal redirection
UNIFIOS_HOTSPOT_PORTAL_REDIRECT_PORT=
## Default: 10003
#  UniFi discovery (Only needed on local network)
UNIFIOS_DISCOVERY_PORT=
## Default: 3478
#  STUN used for device poking
UNIFIOS_STUN_PORT=
## Default: 5514
#  Syslog
UNIFIOS_SYSLOG_PORT=
## Default: 6789
#  Speed test
UNIFIOS_SPEEDTEST_PORT=
## Default: 5005
#  Optional UniFi service
UNIFIOS_SERVICE_PORT=
## Default: 9543
#  Optional UniFi service
UNIFIOS_ALT_WEBUI_PORT=
## Default: 127.0.0.1:11084
#  Optional UniFi service (localhost only)
UNIFIOS_INTERNAL_PORT=
## Default: 5671
#  RabbitMQ
UNIFIOS_RABBITMQ_PORT=
