## Default: 5.1.40
UNIFIOS_IMG_TAG=
## Default: Etc/UTC
TZ=

## Default: ./uos
UNIFIOS_APP_DIR=
## Default: ./data
UNIFIOS_DATA_DIR=
## Default: persistent_data
UNIFIOS_PERSISTENT_DIR=

## Default: 127.0.0.1
UNIFIOS_SYSTEM_IP=
## Default: true
#  If false, use the mongodb overlay
UNIFIOS_USER_INTERNAL_MONGODB=

## Default: 8080
#  HTTP inform / redirect
UNIFIOS_HTTP_PORT=
## Default: 8443
#  UniFi Controller API
UNIFIOS_API_PORT=
## Default: 8444
#  Secure Portal for Hotspot
UNIFIOS_HOTSPORT_PORTAL_PORT=
## Default: 8880-8882
#  Hotspot portal redirection (HTTP)
UNIFIOS_HOTSPOT_PORTAL_REDIRECT_PORT=
## Default: 10003
#  UniFi discovery (Only needed on local network)
UNIFIOS_DISCOVERY_PORT=
## Default: 11443
#  UniFi Web UI (HTTPS)
UNIFIOS_WEBUI_PORT=
## Default: 3478
#  STUN used for device poking
UNIFIOS_STUN_PORT=
## Default: 5514
#  Syslog
UNIFIOS_SYSLOG_PORT=
## Default: 6789
#  Speed test
UNIFIOS_SPEEDTEST_PORT=
## Default: 127.0.0.1:5432
#  PostgreSQL (localhost only)
UNIFIOS_DB_PORT=
