n8n/*

**/data
**/data/
**/data/*

**/backup
**/backup/
**/backup/*

**/workflow-files
**/workflow-files/
**/workflow-files/*

!n8n/
!n8n/data
!.gitkeep

ssh/*

files/secret/*
files/secrets/*
files/environment/*
files/environments/*
files/param/*
files/params/*
files/env/*
files/ssh/*
files/persist/*

ntfy/*

!*example*.*
!*.*example*

!.gitkeep
