## Default: latest
MINIFLUX_IMG_TAG=2.0.25

## Default: http://localhost:8080
BASE_URL=
## Default: 8080
MINIFLUX_HTTP_PORT=
## Default: 60
POLLING_FREQUENCY=

##################
# Admin settings #
##################

## Default: admin
ADMIN_USERNAME=
## Default: minifluxAdmin!
ADMIN_PASSWORD=
## Default: 0
CREATE_ADMIN=
## Default: 1
RUN_MIGRATIONS=

#######################
# PostgreSQL settings #
#######################

## Default: 18-alpine
PG_IMG_TAG=
## Default: miniflux
PG_USER=
## Default: miniflux
PG_PASSWORD=
## Default: db
PG_HOST=
## Default: 5432
PG_PORT=
## Default: miniflux
PG_DB=
