## Default: latest
MINIFLUX_IMG_TAG=2.0.25

## Default: http://localhost:8080
BASE_URL=
## Default: 8080
MINIFLUX_HTTP_PORT=
## Default: 60
POLLING_FREQUENCY=

##################
# Admin settings #
##################

## Default: admin
ADMIN_USERNAME=
## Default: minifluxAdmin!
ADMIN_PASSWORD=
## Default: 0
CREATE_ADMIN=
## Default: 1
RUN_MIGRATIONS=

#######################
# PostgreSQL settings #
#######################

## Default: 18-alpine
PG_IMG_TAG=
## Default: miniflux
PG_USER=
## Default: miniflux
PG_PASSWORD=
## Default: db
PG_HOST=
## Default: 5432
PG_PORT=
## Default: miniflux
PG_DB=

###########
# Traefik #
###########

## Default: localhost
#  Example: rss.yourdomain.com
TRAEFIK_DOMAIN=

##############
# Auth proxy #
##############

## Default: 0
DISABLE_LOCAL_AUTH=
## Default: 172.16.0.0/12,192.168.0.0/16,10.0.0.0/8
TRUSTED_REVERSE_PROXY_NETWORKS=

#################
# OAuth2 / OIDC #
#################

## Default: oidc
OAUTH2_PROVIDER=
## Default: (none/empty)
OAUTH2_CLIENT_ID=
## Default: (none/empty)
OAUTH2_CLIENT_SECRET=
## Default: (none/empty)
OAUTH2_REDIRECT_URL=
## Default: (none/empty)
OAUTH2_OIDC_DISCOVERY_ENDPOINT=
## Default: 1
OAUTH2_USER_CREATION=
## Default: OpenID Connect
OAUTH2_OIDC_PROVIDER_NAME=

###########
# Metrics #
###########

## Default: prometheus
METRICS_USERNAME=
## Default: (none/empty)
METRICS_PASSWORD=
## Default: 172.16.0.0/12
METRICS_ALLOWED_NETWORKS=
## Default: 9090
METRICS_PORT=

###########
# RSS Hub #
###########

## Default: 1200
RSSHUB_PORT=
## Default: redis-data
RSSHUB_REDIS_DATA_DIR=
## Default: (none/empty)
GITHUB_ACCESS_TOKEN=

######################
# ReactFlux Frontend #
######################

## Default: 2000
REACTFLUX_PORT=
