vrising/*
vrising/**/*
configs/*
backup/*

!configs/
!configs/example/
!configs/example*.json
!configs/premade/
!configs/premade/*.json
!configs/README.md

!vrising/.gitkeep
!vrising/persist/
!vrising/persist/.gitkeep
!vrising/persist/Settings/
!vrising/persist/Settings/.gitkeep
