## Default: lts
JENKINS_IMG_TAG=

## Default: Etc/UTC
TZ=

## Default: 8080
JENKINS_HTTP_PORT=
## Default: 50000
JENKINS_AGENT_PORT=

## Default: 512m
JENKINS_JAVA_OPT_XMS=
## Default: 1024m
JENKINS_JAVA_OPTS_XMX=
## Default: /
JENKINS_PREFIX=
## Default: jenkins_home
JENKINS_HOME_DIR=
## Default: 1.1.1.1
JENKINS_DNS_1=
## Default: 8.8.8.8
JENKINS_DNS_2=
## Default: (none/empty)
JENKINS_DNS_3=
## Default: (none/empty)
JENKINS_DNS_4=
## Default: 4
JENKINS_MAX_CPU=
## Default: 8g
JENKINS_MEM_LIMIT=
