---
name: openbao

services:
  openbao:
    image: openbao/openbao:latest
    container_name: openbao
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    command: server -config=/etc/openbao/${OPENBAO_CONFIG_FILE:-bao.hcl}
    ports:
      - ${OPENBAO_PORT:-8200}:8200
    environment:
      - VAULT_ADDR=${OPENBAO_VAULT_ADDR:-http://openbao:8200}
    volumes:
      - ${OPENBAO_CONFIG_DIR:-./config}:/etc/openbao
      - ${OPENBAO_DATA_DIR:-./data}:/openbao/data
