---
name: peppermint

volumes:
  pgdata: {}

services:
  db:
    image: postgres:latest
    container_name: peppermint_db
    restart: always
    # ports:
    #   - 5432:5432
    volumes:
      - ${DB_DATA_DIR:-pgdata}:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME:-peppermint}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-peppermint}
      POSTGRES_DB: ${DB_DATABASE:-peppermint}

  peppermint:
    image: pepperlabs/peppermint:latest
    container_name: peppermint
    restart: always
    depends_on:
      - db
    ports:
      - ${PEPPERMINT_WEBUI_PORT:-3000}:3000
      - ${PEPPERMINT_API_PORT:-5003}:5003
    environment:
      DB_USERNAME: ${DB_USERNAME:-peppermint}
      DB_PASSWORD: ${DB_PASSWORD:-peppermint}
      DB_HOST: ${DB_HOST:-db}
      SECRET: ${PEPPERMINT_SECRET}
