## Default: http://localhost:8081
NEXUS_PUBLIC_URL=
## Default: 8081
NEXUS_HTTP_PORT=
## Default: 5000
NEXUS_REGISTRY_PORT=
## Default: (named volume) data
NEXUS_DATA_DIR=
## Default: true
#  Set to false and use NEXUS_ADMIN_PASSWORD to create a default admin password
NEXUS_RANDOM_PASSWORD=
## Default: (none/empty)
#  If you set NEXUS_RANDOM_PASSWORD=false, create the default
#  admin password here
NEXUS_ADMIN_PASSWORD=
## Default: 512m
NEXUS_JAVA_XMS=
## Default: 1g
NEXUS_JAVA_XMX=
## Default: 512m
NEXUS_JAVA_MAXMEMORYSIZE=

