## Default: 1000 (for both PUID/PGID)
PUID=
PGID=
## Default: Etc/UTC
TZ=

## Default: latest
DOMAINMOD_IMG_TAG=
## Default:alpine
DB_IMG_TAG=

## Default: (none/empty)
DOMAINMOD_WEB_ROOT=
## Default: application
DOMAINMOD_APP_DIR=
## Default: 8080
DOMAINMOD_HTTP_PORT=

## Default: domainmod
DOMAINMOD_DB_NAME=
## Default: domainmod
DOMAINMOD_DB_USER=
## Default: domainmod
DOMAINMOD_DB_PASSWORD=
## Default: db_data
DOMAINMOD_DB_DATA_DIR=
