## Default: latest
NETALERTX_IMG_TAG=26
## Default: host
NETALERTX_NETWORK_MODE=
## Default: netalertx
NETALERTX_HOSTNAME=
## Default: (none/empty)
#  Generate with: openssl rand -hex 32
NETALERTX_API_TOKEN=
## Default: (named volume) data
NETALERTX_DATA_DIR=
## Default: Etc/UTC
TZ=
## Default: 20211
NETALERTX_PORT=
## Default: 20212
NETALERTX_GRAPHQL_PORT=
## Default: 0.0.0.0
NETALERTX_LISTEN_ADDRESS=
## Default: 192.168.1.0/24 --interface=eth0
NETALERTX_SCAN_SUBNETS=
