## Default: 26
NETALERTX_IMG_TAG=
## Default: netalertx
NETALERTX_HOSTNAME=
## Default: (named volume) data
NETALERTX_DATA_DIR=
## Default: Etc/UTC
TZ=
## Default: 20211
NETALERTX_PORT=
## Default: 0.0.0.0
NETALERTX_LISTEN_ADDRESS=
## Default: (none/empty)
#  Full list: https://github.com/jokob-sk/NetAlertX/blob/main/docs/PLUGINS.md#-available-plugins
# NETALERTX_LOADED_PLUGINS="PIHOLE,ASUSWRT,ARPSCAN,AVAHISCAN,CSVBCKP,DHCPLSS,DHCPSRVS,ICMP,INTRNT,INTRSPD,IPNEIGH,MAINT,MQTT,NEWDEV,NMAP,NSLOOKUP,SMTP,SNMPDSC,SYNC,TELEGRAM,UI,UNIFIMP,VNDRPDT,WEBHOOK,WEBMON,WOL"
