## Default: latest
RENOVATE_IMG_TAG=
## Default: info
RENOVATE_LOG_LEVEL=
## Default: json
RENOVATE_LOG_FORMAT=
## Default: github
RENOVATE_PLATFORM=
## Default: false
RENOVATE_AUTODISCOVER=
## Default: (none/empty)
#  Example: orgname
RENOVATE_AUTODISCOVER_NAMESPACES=
## Default: (none/empty)
#  Optional value. A Github PAT with READ access
#  for fetching metadata.
RENOVATE_GITHUB_COM_TOKEN=
## Default: (none/empty)
#  Platform token, i.e. Github PAT, with R/W access
#  to target repo(s).
RENOVATE_TOKEN=
## Default: ./config/config.js
RENOVATE_CONFIG_FILE_PATH=
## Default: cache
RENOVATE_CACHE_DIR=
## Default: (none/empty)
#  Example: myorg/repo1,username/repo,username/repo2
RENOVATE_REPOSITORIES=
## Default: false
RENOVATE_ONBOARDING=
## Default: optional
#  Options: required, optional, ignored/false
RENOVATE_REQUIRE_CONFIG=
## Default: true
RENOVATE_DEPENDENCY_DASHBOARD=
## Default: false
RENOVATE_DRY_RUN=
## Default: 10m
RENOVATE_LOG_MAX_SIZE=
## Default: 3
RENOVATE_LOG_MAX_FILE=
## Default: true
RENOVATE_LOG_COMPRESS=
