---
name: "soft-serve"
volumes:
  softserve_data:
    name: data

services:
  soft-serve:
    image: charmcli/soft-serve:latest
    container_name: ${SOFTSERVE_CONTAINER_NAME:-soft-serve}
    restart: unless-stopped
    volumes:
      - ${SOFTSERVE_DATA_DIR:-softserve_data}:/soft-serve
    ports:
      - ${SOFTSERVE_SSH_PORT:-23231}:23231
      - ${SOFTSERVE_HTTP_PORT:-23232}:23232
      - ${SOFTSERVE_GIT_PORT:-9418}:9418
    environment:
      SOFT_SERVE_INITIAL_ADMIN_KEYS: ${SOFTSERVE_INITIAL_ADMIN_KEYS}
