## Default: 12
#  Forgejo runner releases: https://code.forgejo.org/forgejo/runner/releases
FORGEJO_RUNNER_IMG_TAG=
## Default: (named volume) data
FORGEJO_RUNNER_DATA_DIR=
## Default: (named volume) cache
FORGEJO_RUNNER_CACHE_DIR=
## Default: ./config
FORGEJO_RUNNER_CONFIG_DIR=

