## Default: 2
UPTIME_KUMA_IMG_TAG=
## Default: 3001
UPTIME_KUMA_PORT=
## Default: named volume "uptime_kuma_data"
UPTIME_KUMA_DATA_DIR=
## Default: 150m
UPTIME_KUMA_LOG_MAX_SIZE=
## Default: 5
UPTIME_KUMA_LOG_MAX_FILE=

