## Default: 5-13
CROW_IMG_TAG=
## Default: 8000
CROW_SERVER_HTTP_PORT=
## Default: 9000
CROW_SERVER_GRPC_PORT=
## Default: server-data
CROW_SERVER_DATA_DIR=
## Default: true
CROW_SERVER_OPEN_MODE=
## Default: http://localhost:8000
CROW_SERVER_HOST=
## Default: false
CROW_SERVER_ENABLE_FORGE_INTEGRATION=
## Default: "https://codeberg.org"
CROW_FORGEJO_URL=
## Default: (none/empty)
CROW_FORGEJO_CLIENT=
## Default: (none/empty)
CROW_FORGEJO_SECRET=

## Default: (none/empty)
CROW_AGENT_SECRET=
## Default: (named volume) agent-config
CROW_AGENT_CONFIG_DIR=
