---
name: reactive-resume

# networks:
#   reactive_resume_network:
#     driver: bridge

volumes:
  postgres_data:
  app_data:

services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - ${CADDY_HTTP_PORT:-80}:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    # networks:
    #   - reactive_resume_network
    depends_on:
      - app

  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${PG_PASSWORD:-postgres}
    volumes:
      - ${PG_DATA_DIR:-postgres_data}:/var/lib/postgresql/data
    # networks:
    #   - reactive_resume_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ${PG_PASSWORD:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  printer:
    image: ghcr.io/browserless/chromium:latest
    restart: unless-stopped
    environment:
      TIMEOUT: 120000
      CONCURRENT: 10
      HEALTH: "true"
      TOKEN: ${PRINTER_TOKEN}
    # networks:
    #   - reactive_resume_network
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:3000/pressure?token=${PRINTER_TOKEN}",
        ]
      interval: 30s
      timeout: 10s
      retries: 3

  app:
    image: amruthpillai/reactive-resume:latest
    restart: unless-stopped
    environment:
      APP_URL: http://192.168.1.7
      DATABASE_URL: postgresql://postgres:${PG_PASSWORD:-postgres}@postgres:5432/postgres
      AUTH_SECRET: ${AUTH_SECRET}
      PRINTER_ENDPOINT: http://printer:3000
    volumes:
      - app_data:/app/data
    # networks:
    #   - reactive_resume_network
    depends_on:
      postgres:
        condition: service_healthy
      printer:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
