## Default: 80
ONLYOFFICE_WEBUI_PORT=
## Default: (named volume) onlyoffice_logs
ONLYOFFICE_LOGS_DIR=
## Default: (named volume) onlyoffice_data
ONLYOFFICE_DATA_DIR=
## Default: (named volume) onlyoffice_lib
ONLYOFFICE_LIB_DIR=
## Default: (named volume) onlyoffice_rabbitmq
ONLYOFFICE_RABBITMQ_DIR=
## Default: (named volume) onlyoffice_redis
ONLYOFFICE_REDIS_DIR=
## Default: (named volume) onlyoffice_db
ONLYOFFICE_DB=
