---
name: zabbix-agent

networks:
  zabbix_net:
    driver: bridge

services:
  zabbix-agent2:
    image: zabbix/zabbix-agent2:${ZABBIX_VERSION:-latest}
    container_name: zabbix-agent2
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      ZBX_SERVER_HOST: ${ZABBIX_AGENT_SERVER_HOST:-zabbix-server}
      ZBX_LISTEN_PORT: ${ZABBIX_AGENT_LISTEN_PORT:-11050}
      ZBX_SERVER_ACTIVE: ${ZABBIX_AGENT_SERVER_HOST:-zabbix-server}:${ZABBIX_AGENT_SERVER_PORT:-10051}
      ZBX_HOSTNAME: ${ZABBIX_AGENT_HOSTNAME_OVERRIDE:-}
      ZBX_HOSTNAMEITEM: system.hostname
      ZBX_METADATA: ${ZABBIX_AGENT_METADATA_OVERRIDE:-docker-host}
      ZBX_DEBUGLEVEL: ${ZABBIX_AGENT_DEBUGLEVEL:-3}
      ZBX_REGISTRATION_KEY: ${ZABBIX_REGISTRATION_KEY:-}
    ## Comment out if using network_mode: host
    # ports:
    #   - ${ZABBIX_AGENT_PORT:-10050}:10050
    volumes:
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock
    ## Comment out if using network_mode: host
    # networks:
    #   - zabbix_net
