[server]
hosts = 0.0.0.0:5232
max_connections = 20

[auth]
type = htpasswd
htpasswd_filename = /data/users
htpasswd_encryption = bcrypt

[storage]
filesystem_folder = /data/collections
## 2592000  = 30 days
max_sync_token_age = 2592000

[rights]
type = owner_only

[logging]
level = info

[web]
## Set to 'none' if exposed publicly.
#  Set to 'internal' to enable webUI.
type = internal
