## Default: 5.13
#  Navigate to https://crowci.dev to see the latest version
CROW_IMG_TAG=
## Default: (none/empty)
CROW_AGENT_SECRET=
## Default: (named volume) agent-config
CROW_AGENT_CONFIG_DIR=
## Default: 2
CROW_AGENT_MAX_WORKFLOWS=
