## Default: 5.13
#  Navigate to https://crowci.dev to see the latest version
CROW_IMG_TAG=
## Default: (none/empty)
CROW_AGENT_SECRET=
## Default: (named volume) agent-config
CROW_AGENT_CONFIG_DIR=
## Default: 2
CROW_AGENT_MAX_WORKFLOWS=
## Default: 10m
CROW_AGENT_LOG_MAX_SIZE=
## Default: 5
CROW_AGENT_LOG_MAX_FILE=
## Default: 2
CROW_AGENT_CPUS=
## Default: 2G
CROW_AGENT_MEMORY=
