## Default: latest
MEND_RNV_IMG_TAG=
## Default: 8080
MEND_RNV_HOST_PORT=
## Default: y
MEND_RNV_ACCEPT_TOS=
## Default: (none/empty)
#  Optional, get a key that limits to 10 repos here:
#    https://www.mend.io/mend-renovate-community/#self-hosted
#  Or fill out the form to get a free key that unlocks everything.
MEND_RNV_LICENSE_KEY=
## Default: github
MEND_RNV_PLATFORM=
## Default: (none/empty)
MEND_RNV_GITHUB_APP_ID=
## Default: (none/empty)
MEND_RNV_GITHUB_APP_KEY=
## Default: /run/secrets/renovate.private-key.pem
MEND_RNV_GITHUB_PEM_FILE_PATH=
## Default: renovate
MEND_RNV_WEBHOOK_SECRET=
## Default: false
MEND_RNV_ADMIN_API_ENABLED=
## Default: (none/empty)
MEND_RNV_SERVER_API_SECRET=
## Default: (none/empty)
GITHUB_COM_TOKEN=
## Default: info
MEND_RNV_LOG_LEVEL=
## Default: json
MEND_RNV_LOG_FORMAT=
## Default: ./.secrets/renovate.private-key.pem
MEND_RNV_PEM_HOST_PATH=
## Default: cache
MEND_RNV_CACHE_DIR=
## Default: 10m
MEND_RNV_LOG_MAX_SIZE=
## Default: 3
MEND_RNV_LOG_MAX_FILE=
## Default: true
MEND_RNV_LOG_COMPRESS=
