---
# networks:
#   unnamed_net: {}

volumes:
  jotty_data: {}
  jotty_cache: {}

services:
  jotty:
    image: ghcr.io/fccview/jotty:latest
    container_name: jotty
    user: "1000:1000"
    ports:
      - ${JOTTY_WEWBUI_PORT:-3000}:3000
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      HTTPS: ${HTTPS:-false}
      SERVE_PUBLIC_IMAGES: ${SERVE_PUBLIC_IMAGES:-no}
      SERVE_PUBLIC_FILES: ${SERVE_PUBLIC_FILES:-no}
      SSO_MODE: ${SSO_MODE:-oidc}
      OIDC_ISSUER: ${SSO_ISSUER}
      OIDC_CLIENT_ID: ${SSO_CLIENT_ID}
      APP_URL: ${APP_URL:-https://localhost:3000}
      OIDC_CLIENT_SECRET: ${SSO_CLIENT_SECRET}
      SSO_FALLBACK_LOCAL: ${SSO_FALLBACK_LOCAL:-no}
      OIDC_ADMIN_GROUPS: ${SSO_ADMIN_GROUPS:-admins}
    volumes:
      - ${JOTTY_DATA_DIR:-jotty_data}:/app/data:rw
      - ${JOTTY_CONFIG_DIR:-./jotty/config}:/app/config:rw
      - ${JOTTY_CACHE_DIR:-jotty_cache}:/app/.next/cache:rw
