data/*
data/transmission/*
data/transmission/config/*
data/transmission/config/blocklists/*
data/transmission/config/resume/*
data/transmission/config/torrents/*

!data/
!data/.gitkeep
!data/transmission/
!data/transmission/.gitkeep
!data/transmission/config/
!data/transmission/config/.gitkeep
!data/transmission/config/blocklists/
!data/transmission/config/blocklists/.gitkeep
!data/transmission/config/resume/
!data/transmission/config/resume/.gitkeep
!data/transmission/config/torrents/
!data/transmission/config/torrents/.gitkeep
