## Default: 8080
CONCOURSE_HTTP_PORT=

###########
# Secrets #
###########

## Generate secrets with ./scripts/generate_secrets.sh

## Default: Y29uY291cnNlLXdlYgo=
CONCOURSE_CLIENT_SECRET=
## Default: Y29uY291cnNlLXdvcmtlcgo=
CONCOURSE_TSA_CLIENT_SECRET=
## Default: concourse_pass
#  Run ./scripts/generate_secrets.sh to get secure password
POSTGRES_PASSWORD=

## Default: councourse_user
POSTGRES_USER=

## Default: concourse
POSTGRES_DB=

## Default: http://localhost:8080
CONCOURSE_URL=
## Default: admin
CONCOURSE_ADD_USER=
## Default: test
CONCOURSE_LOCAL_PASS=carRiage-autoNomy-t3nd
## Default: main
CONCOURSE_MAIN_TEAM=
## Default: node1
CONCOURSE_CLUSTER_NAME=voyage
## Default: 1.1.1.1
CONCOURSE_WORKER_DNS_SERVER=
## Default: containerd (use "houdini" for ARM machiness)
CONCOURSE_WORKER_RUNTIME=
