backups/*
data/*
data/dav/*
data/webdav/*
data/webdav/homes/*
data/webdav/public/*
data/webdav/tmp/*

!data/
!data/dav/
!data/webdav/
!data/webdav/homes/
!data/webdav/public/
!data/webdav/tmp/
!.gitkeep
!*example*.*
!data/dav/Welcome to Davis.txt
