## Default: 18.2-alpine3.23
POSTGRES_IMG_TAG=
## Default: 0.8.9
OXICLOUD_IMG_TAG=

## Default: oxicloud
POSTGRES_DB=
## Default: oxicloud
POSTGRES_USER=
## Default: (none/empty)
POSTGRES_PASSWORD=
## Default: ./data/postgres
POSTGRES_DATA_DIR=

## Default: http://localhost:8086
OXICLOUD_BASE_URL=
## Default: false
#  Set to true when using HTTPS, i.e. behind a reverse proxy
OXICLOUD_COOKIE_SECURE=

## Default: 0.0.0.0
OXICLOUD_BIND_ADDRESS=
## Default: 8086
OXICLOUD_PORT=
## Default: ./data/storage
OXICLOUD_DATA_DIR=
## Default: (none/empty)
OXICLOUD_STORAGE_ENCRYPTION_KEY=

