<!-- 
    Begin bottom html boilerplate. When creating a new file, add
    include('../partials/base/html_bottom.ejs') to bottom of file
-->
        </main>

        <footer>
            <!-- Year updates automatically from the 'copright_year' var in sitevars dict from app.js -->
            <!-- Copyright holder also updates from app.js sitevars -->
            <p class="text-center text-muted">&copy; Copyright <%= sitevars.copyright_year %> <%= sitevars.copyright_holder %></p>
        </footer>

        <!-- Bootstrap JS import -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>

</html>
