## Default: latest-jdk17
JENKINS_AGENT_IMG_TAG=
## Default: https://jenkins.lan/
JENKINS_URL=
## Default: jenkins-agent-01
JENKINS_AGENT_NAME=
## Default: PASTE_THE_SECRET_FROM_JENKINS_HERE
JENKINS_SECRET=
## Default: /home/jenkins/agent
JENKINS_AGENT_WORKDIR=
