# Ignore .vscode dir
.vscode/*

# Ignore node_modules dir
**/node_modules
# Ignore logs dir
**/logs

# Don't ignore example files
!**/*.example
!**/*_example
!**/example_*

# Ignore files matching file extension
**/*.bak
**/.eslintrc.js

# Ignore .env
.env

# Ignore app_secrets.json
**/app_secrets.json