valheim-server/*
valheim-server/config/*
valheim-server/data/*
!valheim-server/.gitkeep

**/.env
**/.env.*

!**/*.example
!**/*.example.*
!**/*_example
!**/*_example.*
!**/example_*
!**/example_*.*
!**/*_example_*
!**/*_example_*.*
