# Media

HOMEPAGE_VAR_JELLYFIN_URL=https://jellyfin.example.com
HOMEPAGE_VAR_SONARR_URL=https://sonarr.example.com
HOMEPAGE_VAR_RADARR_URL=https://radarr.example.com
HOMEPAGE_VAR_IMMICH_URL=https://immich.example.com

# Applications

HOMEPAGE_VAR_PAPERLESS_URL=https://paperless.example.com
HOMEPAGE_VAR_FORGEJO_URL=https://forgejo.example.com
HOMEPAGE_VAR_CONCOURSE_URL=https://concourse.example.com
HOMEPAGE_VAR_GOTIFY_URL=https://gotify.example.com

# Infrastructure

HOMEPAGE_VAR_UPTIME_KUMA_URL=https://uptime.example.com

# AdGuard Home

HOMEPAGE_VAR_ADGUARD_URL=https://adguard.example.com
HOMEPAGE_VAR_ADGUARD_USERNAME=admin
HOMEPAGE_VAR_ADGUARD_PASSWORD=change-me
