## Default: Etc/UTC
TZ=
## Default: latest
APPRISE_IMG_TAG=
## Default: 8000
APPRISE_WEBUI_PORT=
## Default: false
APPRISE_DISABLE_WEBUI=
## Default: 0.0.0.0
APPRISE_API_HOST=
## Default: simple
#  Options:
#    - simple: Saves configs as human readable files on disk, i.e. /config/{key}.yaml
#    - hash: Uses a hashed backend storage for persistent config store
#    - disabled: Turn off persistent storage
APPRISE_STATEFUL_MODE=
## Default: INFO
APPRISE_LOG_LEVEL=
## Default: (in Megabytes) 25
APPRISE_ATTACH_SIZE=
## Default: 2
APPRISE_WORKER_COUNT=
## Default: default
APPRISE_THEME=
## Default: ./config
APPRISE_CONFIG_DIR=
## Default: (named volume) attachments
APPRISE_ATTACHMENTS_DIR=
## Default: y
APPRISE_ADMIN=
## Default: yes
APPRISE_CONFIG_LOCK=
