##############################################
# Copy this file to `share.<share-name>.env` #
# when using additional shares from the      #
# overlays/ directory.                       #
#                                            #
# Create a new share.*.env for each overlay  #
##############################################

## Accounts
#  Optional accounts that only exist for this overlay
ACCOUNT_username=CHANGEME

######################
# Fileshare settings #
######################

## Default: no
SAMBA_SHARE_shared_READONLY=
## Default: no
SAMBA_SHARE_shared_GUESTOK=
## Default: (none/empty)
#  THIS FIELD IS REQUIRED!
#  Add the usernames from the ACCOUNT_ vars above, space separated
SAMBA_SHARED_shared_VALIDUSERS=username

