config/*
config/crowdsec/*
config/pangolin/*
config/traefik/*
config/letsencrypt/*
logs/*
container_data/*
container_data/**/
container_data/crowdsec/*
container_data/letsencrypt/*
container_data/pangolin/*
container_data/traefik/*
container_data/gerbil/*
container_data/logs/*

!config/pangolin/
!config/pangolin/*example*.yml
!config/crowdsec/
!config/crowdsec/*example*.yml
!config/crowdsec/acquis.d
!config/traefik/
!config/traefik/*example*.yml
!container_data/crowdsec/
!container_data/gerbil/
!container_data/letsencrypt/
!container_data/pangolin/
!container_data/traefik/

!.gitkeep
