## See all configuration options at:
#  https://homebox.software/en/quick-start/configure/#env-variables--configuration

## Default: latest
HOMEBOX_IMG_TAG=
## Default: (named volume) homebox-data
HOMEBOX_DATA_DIR=
## Default: 3100
HOMEBOX_HTTP_PORT=
## Default: development
HOMEBOX_MODE=
## Default: 0.0.0.0
HOMEBOX_HOST_ADDR=
## Default: true
HOMEBOX_ALLOW_REGISTRATION=
## Default: info
HOMEBOX_LOG_LEVEL=
## Default: text
HOMEBOX_LOG_FORMAT=
## Default: 10
HOMEBOX_UPLOAD_SIZE=
## Default: false
HOMEBOX_ENABLE_ANALYTICS=
## Default: (none/empty)
#  Generate with openssl rand -hex 32
HOMEBOX_API_KEY_PEPPER=
## Default: (none/empty)
HOMEBOX_SMTP_HOST=
## Default: 587
HOMEBOX_SMTP_PORT=
## Default: (none/empty)
HOMEBOX_SMTP_USERNAME=
## Default: (none/empty)
HOMEBOX_SMTP_PASSWORD=
## Default: (none/empty)
HOMEBOX_SMTP_FROM=

