## Default: admin
ADMIN_LOGIN=
## Default: change_me_immediately789!
ADMIN_PASSWORD=

## Default: (none/empty)
#  Generate with openssl rand -hex 32
APP_SECRET=

## Default: Davis DAV Server
AUTH_REALM=
## Default: Basic
#  Basic, IMAP, or LDAP
AUTH_METHOD=

## Default: true
CALDAV_ENABLED=
## Default: true
CARDDAV_ENABLED=
## Default: false
WEBDAV_ENABLED=
## Default: true
PUBLIC_CALENDARS_ENABLED=

## Default: davis@example.com
INVITE_FROM_ADDRESS=

## Default: Etc/UTC
APP_TIMEZONE=

## Default: PT9H
#  Birthday reminders (RFC 5545 duration or false)
BIRTHDAY_REMINDER_OFFSET=

## Default: /webdav/homes
#  WebDAV paths (absolute inside container)
WEBDAV_HOMES_DIR=

## Default: (named volume) davis_webdav
DAVIS_DATA_DIR=

## Default: 0.0.0.0/0
SYMFONY_TRUSTED_PROXIES=

## Default: 9000
DAVIS_PORT=

## Default: null://null
#  The full SMTP DSN is required. Example DSN:
#  (fastmail)
#    smtp://user:pass@smtp.fastmail.com:465?encryption=ssl&auth_mode=login
#
#  (gmail)
#    smtp://your.full@gmail.com:your-app-password@smtp.gmail.com:587?encryption=tls&auth_mode=login
MAILER_DSN=
