## Default: 1000
PUID=
## Default: 1000
PGID=
## Default: 002
UMASK=
## Default: Etc/UTC
TZ=

## Default: latest
CHAPTARR_IMG_TAG=
## Default: 8789
CHAPTARR_HTTP_PORT=

## Default: ./data/config
CHAPTARR_CONFIG_DIR=
## Default: ./data/audiobooks
CHAPTARR_AUDIOBOOKS_DIR=
## Default: ./data/ebooks
CHAPTARR_EBOOKS_DIR=
## Default: ./data/downloads
CHAPTARR_DOWNLOADS_DIR=

## Default: latest
FLARESOLVERR_IMG_TAG=
## Default: info
FLARESOLVERR_LOG_LEVEL=
## Default: 8191
FLARSOLVERR_PORT=

## Default: postgres
PG_HOST=
## Default: 5432
PG_PORT=
## Default: chaptarr
PG_USER=
## Default: chaptarr
PG_PASSWORD=
## Default: chaptarr-main
PG_NAME=
## Default: chaptarr-log
PG_LOGDB_NAME=
## Default: chaptarr-cache
PG_CACHEDB_NAME=
