## Default: Etc/UTC
TZ=
## Default: nginx
BAIKAL_IMG_TAG=
## Default: ./data
BAIKAL_DATA_DIR=

###########################################################
# For direct exposure with the overlays/direct.yml layer. #
###########################################################

## Default: 8080
BAIKAL_DIRECT_HTTP_PORT=

###########################################################
# For proxied exposure with the overlays/caddy.yml layer. #
###########################################################

## Default: latest
CADDY_IMG_TAG=
## Default: 80
BAIKAL_CADDY_HTTP_PORT=
## Default: 443
BAIKAL_CADDY_HTTPS_PORT=
## Default: ./caddy/Caddyfile
CADDY_CADDYFILE=
## Default: ./caddy/data
CADDY_DATA_DIR=
## Default: ./caddy/config
CADDY_CONFIG_DIR=
