## Default: latest
HAWSER_IMG_TAG=

## Default: (none/empty)
HAWSER_TOKEN=
## Default: 2376
HAWSER_PORT=
## Default: (none/empty)
HAWSER_AGENT_NAME=
## Default: wss://ip-or-fqdn.com/api/hawser/connect
HAWSER_DOCKHAND_SERVER=

