## Default: 2.14.2
#  Find latest version here:
HARBOR_VERSION=
## Default: (none/empty)
#  Generate with openssl rand -hex 32
CORE_SECRET=
## Default: http://harbor-registry:5000
CORE_REGISTRY_URL=
## Default: HarborAdmin
CORE_ADMIN_PASSWORD=
## Default: 8080
CORE_HTTP_PORT=
## Default: (named volume) core_data
CORE_DATA_DIR=

## Default: (named volume) registry_data
REGISTRY_DATA_DIR=
## Default: 5000
REGISTRY_PORT=

## Default: HarborDBPass
DB_PASSWORD=
## Default: (named volume) db_data
DB_DATA_DIR=

