## Default: latest
HAPPYDOMAIN_IMG_TAG=
## Default: 8081
HAPPYDOMAIN_HTTP_PORT=
## Default: (none/empty)
#  Set to '1' to disable auth. You should
#  only do this during setup, remove it when
#  running, especially if exposed to the Internet.
HAPPYDOMAIN_NO_AUTH=
## Default: (named volume) storage
HAPPYDOMAIN_DATA_DIR=
## Default: (none/empty)
#  Set to 'mailer' for multi-user production setups
HAPPYDOMAIN_MAIL_SMTP_HOST=
## Default: (none/empty)
#  Connects happydomain to the happyDeliver service.
#  Example: "http://checker-happydeliver:8080"
HAPPYDOMAIN_CHECKER_HAPPYDELIVER_ENDPOINT=
