.env
*.local
*.local.*

apps/*
apps/**
apps/bazarr/*
apps/deluge/*
apps/jackett/*
apps/lazylibrarian/*
apps/qbittorrent/*
apps/radarr/*
apps/readarr/*
apps/sonarr/*
apps/transmission/*
apps/gluetun/*
apps/gluetun/**/*
apps/prowlarr/*
apps/prowlarr/**/*
scripts/*

**/apps/bazarr/*
**/apps/jackett/*
**/apps/lazylibrarian/*
**/apps/radarr/*
**/apps/sonarr/*
**/apps/readarr/*
**/apps/qbittorrent/*
**/apps/transmission/*
**/apps/couchpotato/*
**/apps/prowlarr/*

overlays/gluetun-networks.yml

!apps/
!apps/**/
!apps/**/empty

!scripts/manage-stack.sh

!*example*.*
!*.*example*
