.env
*.local
*.local.*

apps/*
apps/**
apps/bazarr/*
apps/deluge/*
apps/jackett/*
apps/lazylibrarian/*
apps/qbittorrent/*
apps/radarr/*
apps/readarr/*
apps/sonarr/*
apps/transmission/*
scripts/*

**/apps/bazarr/*
**/apps/jackett/*
**/apps/lazylibrarian/*
**/apps/radarr/*
**/apps/sonarr/*
**/apps/readarr/*
**/apps/qbittorrent/*
**/apps/transmission/*
**/apps/couchpotato/*

overlays/gluetun-networks.yml

!apps/
!apps/**/
!apps/**/empty

!*example*.*
!*.*example*
