---
name: huginn

volumes:
  db_data: {}
  app_data: {}
  agent_data: {}

services:
  huginn:
    image: ghcr.io/huginn/huginn
    container_name: huginn
    restart: unless-stopped
    ports:
      - ${HUGINN_WEB_PORT:-3000}:3000
    env_file:
      - .env.huginn
    volumes:
      - ${HUGINN_DATA_DIR:-db_data}:/var/lib/mysql
      - ${HUGINN_APP_DATA_DIR:-app_data}:/usr/src/app
      - ${HUGINN_AGENT_DATA_DIR:-agent_data}:/huginn
      - ./env/.env.huginn:/app/.env.huginn:ro
    logging:
      driver: "json-file"
      options:
        max-size: "${LOG_MAX_SIZE:-10m}"
        max-file: "${LOG_MAX_FILE:-3}"
