COMPOSE_PROJECT_NAME=paperless

## Default: latest
REDIS_IMG_TAG=
## Default: latest
PG_IMG_TAG=
## Default: latest
PAPERLESS_IMG_TAG=
## Default: latest
GOTENBERG_IMG_TAG=
## Default: latest
TIKA_IMG_TAG=

## Default: ./data/postgres/data
PG_DATA_DIR=
## Default: paperless
PG_DB=
## Default: paperless
PG_USER=
## Default: paperless
PG_PASSWORD=

## Default: (none/empty)
PAPERLESS_SERVER_URL=https://docs.example.com

## Default: ./data/paperless/data
PAPERLESS_DATA_DIR=
## Default: ./data/paperless/media
PAPERLESS_MEDIA_DIR=
## Default: ./data/paperless/export
PAPERLESS_EXPORT_DIR=
## Default: ./data/paperless/consume
PAPERLESS_CONSUME_DIR=
## Default: ./data/paperless/tmp
PAPERLESS_TMP_DIR=

## Default: admin
PAPERLESS_ADMIN_USER=
## Default: paperless
PAPERLESS_ADMIN_PASSWORD=

## Default: 8000
PAPERLESS_WEB_PORT=

## Default: 3000
GOTENBERG_PORT=

