## Default: 1.20.23
COPYPARTY_IMG_TAG=
## Default: 1000
PUID=
## Default: 1000
PGID=
## Default: 3923
COPYPARTY_HTTP_PORT=
## Default: ./config
COPYPARTY_CONF_DIR=
## Default: fileshare
COPYPARTY_FILESHARE_ROOT_DIR=
## Default: NOPE
#  NOPE=disabled; 2=enabled
COPYPARTY_MINALLOC=