## Default: Etc/UTC 
TZ=
## Default: 1000
PUID=
## Default: 1000
PGID=

## Default: ./data
FRESHRSS_CONFIG_DIR=
## Default: ./extensions
FRESHRSS_EXTENSIONS_DIR=
## Default: 80
FRESHRSS_WEB_PORT=

############
# Postgres #
############

## Default: freshrss
POSTGRES_DB=
## Default: freshrss
POSTGRES_USER=
## Default: freshrss
POSTGRES_PASSWORD=
## Default: (named volume) postgres-data
POSTGRES_DATA_DIR=

##########
# RSSHub #
##########

## Default: 1200
RSSHUB_PORT=
## Default: (none/empty)
GITHUB_ACCESS_TOKEN=
## Default: redis-data
RSSHUB_REDIS_DATA_DIR=

