.env
bazarr/*
deluge/*
jackett/*
lazylibrarian/*
qbittorrent/*
radarr/*
readarr/*
sonarr/*
transmission/*
scripts/*

**/bazarr/*
**/jackett/*
**/lazylibrarian/*
**/radarr/*
**/sonarr/*
**/readarr/*
**/qbittorrent/*
**/transmission/*
**/couchpotato/*

!**/empty
!**/*.example
