MODEL="TimeCapsule"

## Accounts
#  ACCOUNT_ indicates to the container that a user
#  should be created with the username defined, and
#  the value will be the password for that user.
ACCOUNT_user1=replace-me
ACCOUNT_user2=replace-me

######################
# Fileshare settings #
######################

## Default: no
SAMBA_SHARE_shared_READONLY=
## Default: no
SAMBA_SHARE_shared_GUESTOK=
## Default: (none/empty)
#  THIS FIELD IS REQUIRED!
#  Add the usernames from the ACCOUNT_ vars above
SAMBA_SHARED_shared_VALIDUSERS=user1,user2

