## Default: 15-alpine
DB_IMG_TAG=
## Default: latest
DL_APP_IMG_TAG=
## Default: 3.20
DL_UPDATER_IMG_TAG=

## Default: (none/empty)
DNS_DUMPSTER_TOKEN=
## Default: (none/empty)
SHODAN_TOKEN=

## Default: domain_locker
DB_NAME=
## Default: postgres
DB_USER=
## Default: changeme2420
DB_PASSWORD=
## Default: 5432
DB_PORT=
## Default: postgres_data
DB_DATA_DIR=

## Default: selfHosted
DL_ENV_TYPE=
## Default: postgres
DB_HOST=
## Default: 3000
DL_APP_PORT=
